<% provide(:title, 'Entrance') %>
<div class="center jumbotron">
  <h1>This is not Latte</h1>

  <h5>
    This is a site for you to practice enroll courses.
  </h5>

  <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Log in", login_path, class: "btn btn-lg btn-primary" %>
</div>
