<div class="row">
  <div class="col-md-10">
    <h1><%= "Welcome, "+current_user[:name]+"!" %></h1>
    <h5>You've enrolled</h5>
  </div>
  <div class="col-md-1">
    <%= link_to "Search courses", enroll_path, method: :get %>
  </div>
  <div class="col-md-1">
    <%= link_to "Log out", logout_path, method: :delete %>
  </div>
</div>

<div class="container">
  <%= render 'courses' %>
  <hr>
</div>
